.App{
  min-height: 100vh;
  background: url("./resources/background7.jpg") no-repeat center center fixed;
  color:#795424;
}

.event-setters{
  text-align: center;
  height: 100%;
}

.green-background{
  background: #0f3817;
  color: white;
}

.filter-toggled {
  text-decoration: line-through;
  color: lightgray;
}

.event{
  color: white;
  background: #3a0404ef;
  padding: 15px;
  text-align: left;
  border-radius: 10px;
}

.rounded-corners{
  border-radius: 10px;
}

.time:before{
  content:" "; 
  display:inline-block; 
  width:10px;
}